node_modules

# various
.rollup.cache

# build artifacts
build
dist
index.d.ts
index.js
index.js.map
src/ts/**/*.d.ts
src/ts/**/*.js.map
src/ts/**/*.js
example/**/*.js
example/**/*.js.map
*.tsbuildinfo
*.tgz

# except
!src/ui/**/*index.js